title: RTSec - Protect our future
description: >- # this means to ignore newlines until "baseurl:"
  This is a platform where I can store my notes publically and write various cybersecurity posts via blog.
baseurl: ""
url: "" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  Artideusz

# Build settings
plugins:
  - jekyll-feed

collections:
  notes:
    output: true


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
