/*
    PC
*/

@media only screen and (min-width: 769px) {
    .pc, html, body {
        background-color: #050505 !important;
        color: #fff;
    }
    .mobile {
        display: none;
    }
    .main-container {
        position: relative;
        height: 90vh;
        width: 100%;
        background-color: #111;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    }
    .main-img {
        position: absolute;
        height: 100px;
        top: 40%;
        right: 6rem;
        transform: translateY(-50%);
    }
    .main-txt {
        position: absolute;
        color: #0f0;
        font-size: 6rem;
        font-family: monospace;
        top: 40%;
        left: 6rem;
    }
    .sec {
        padding: 1em;
        width: 80%;
        margin: auto;
        border-radius: 1em;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    
    .sep {
        background-color: #fff;
    }
}

/*
    MOBILE
*/

@media only screen and (max-width: 768px) {
    .pc {
        display: none;
    }

    .main-container {
        position: relative;
        width: 100%;
        background-color: #000;
        height: 80vh;
    }
    .main-img {
        position: absolute;
        height: 120px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .hash-txt {
        color: #0f0;
        width: 100%;
        font-size: 2rem;
        font-weight: 600;
        font-family: monospace;
        letter-spacing: 0.01em;
    }
    #c {
        width: 100%;
        height: 80vh;
    }
    .shadow {
        position: absolute;
        width: 100%;
        height: 80vh;
    }
    .cont {
        background-color: rgb(0, 0, 0);
    }
    .inv {
        font-family: monospace;
        color: #000;
    }
    .green {
        font-family: monospace;
        color: #0f0;
    }
    .secCont {
        display: block;
        font-family: monospace;
        font-weight: bold;
        background-color: #000;
        color: #0f0;
        word-break: break-all;
        width: 70%;
        padding: 1em;
        margin-bottom: 4em;
        border-radius: 1em;
        transition: margin-left 500ms ease-out;
    }

    .left {
        margin-left: -70%;
    }

    .right {
        margin-left: 100%;
    }

    .left.active {
        margin-left: 1em;
    }

    .right.active {
        margin-left: calc(70% / 2 - 2em);
    }

    .cutLeft {
        clip-path: polygon(57% 9%, 47% 9%, 100% 0, 100% 100%, 0 100%, 0 20%);
        /* clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%); */
        margin-top: -8em;
        padding-top: 8em;
        padding-bottom: 8em;
    }
    .cutRight {
        margin-top: -1em;
        clip-path: polygon(57% 9%, 47% 9%, 100% 20%, 100% 100%, 0 100%, 0 0);
        /* clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%); */
        margin-top: -8em;
        padding-top: 8em;
        padding-bottom: 8em;
    }
    .ico-github, .ico-yt {
        font-size: 2em;
        margin: 0.5em;
    }
    .ico-github {
        color: #eee
    }

    .ico-github:hover {
        color: #aaa
    }

    .ico-yt {
        color: #f00
    }

    .ico-yt:hover {
        color: #a00
    }
}

/*
    GENERAL
*/


html, body, .main {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}