.current {
    color: red;
}
.navLink {
    color: white;
}
.navLink:hover {
    text-decoration: none;
    color: #aaa;
}
.navigation {
    height: 3rem;
    background-color: #222227;
}

.alogo {
    color: #0f0;
    font-family: monospace;
    font-weight: bold;
}
.alogo:hover {
    color: #0f0;
    text-decoration: none;

}